In [20]:
# Importing the numpy library for numerical computations
# Importing the pandas library for handling and analyzing data in tabular form
import numpy as np
import pandas as pd

In [21]:
# Reading the dataset 'Heart (1).csv' into a DataFrame
df = pd.read_csv("Heart (1).csv")

In [22]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [23]:
# Displaying the first five rows of the DataFrame to get an overview of the data
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [24]:
# Checking the shape of the DataFrame (number of rows and columns)
df.shape

(303, 15)

In [25]:
# Displaying a summary of the DataFrame, including statistics for numeric columns
df.describe

<bound method NDFrame.describe of      Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[303 rows x 15 columns]>

In [26]:
# Checking for missing values in the DataFrame (returns a DataFrame of booleans)
df.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [27]:
# Summing up all the missing values in each column to check for null data
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [28]:
# Checking the data types of each column in the DataFrame
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [29]:
# Comparing all elements in the DataFrame with 0 (returns a DataFrame of booleans)
df==0

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
4,False,False,True,False,False,False,True,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
299,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False
300,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False
301,False,False,True,False,False,False,True,False,False,True,True,False,False,False,False
302,False,False,False,False,False,False,True,True,False,True,True,False,False,False,False

In [30]:
# Counting the number of zero entries in each column
(df==0).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [31]:
# Calculating the sum of all values in the 'Age' column
df["Age"].sum()

np.int64(16495)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# Importing train_test_split to split the data into training and testing sets
train, test = train_test_split(df[["Age","Sex","ChestPain","RestBP","Chol"]],test_size=0.25)

In [35]:
train

     Age  Sex     ChestPain  RestBP  Chol
65    60    1  asymptomatic     145   282
32    64    1    nonanginal     140   335
193   62    0  asymptomatic     138   294
46    51    1    nonanginal     110   175
176   52    1  asymptomatic     108   233
..   ...  ...           ...     ...   ...
31    60    1  asymptomatic     117   230
39    61    1    nonanginal     150   243
278   57    1    nontypical     154   232
53    44    1    nontypical     130   219
293   63    1  asymptomatic     140   187

[227 rows x 5 columns]

In [36]:
test

     Age  Sex     ChestPain  RestBP  Chol
22    58    1    nontypical     120   284
281   47    1    nonanginal     130   253
273   71    0  asymptomatic     112   149
84    52    1    nontypical     120   325
183   59    1       typical     178   270
..   ...  ...           ...     ...   ...
121   63    0  asymptomatic     150   407
5     56    1    nontypical     120   236
248   52    1  asymptomatic     125   212
283   35    1    nontypical     122   192
67    54    1    nonanginal     150   232

[76 rows x 5 columns]

In [37]:
# Checking for duplicate rows in the DataFrame (returns a Series of booleans)
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [38]:
# Counting the number of duplicate rows in the DataFrame
df.duplicated().sum()

np.int64(0)

In [39]:
# Finding the maximum age of patients who have 'AHD' marked as 'Yes'
df[(df.AHD=='Yes')].Age.max()

np.int64(77)

In [40]:
# Finding the minimum age of patients who have 'AHD' marked as 'Yes'
df[(df.AHD=='Yes')].Age.min()

np.int64(35)

In [41]:
# Importing functions for performance evaluation: confusion matrix and classification report
from sklearn.metrics import confusion_matrix,classification_report

In [42]:
# Creating a list of actual labels with 50 positive and 450 negative examples
y_act = [1]*50 + [0] * 450
# Creating a list of predicted labels with 45 true positives, 400 true negatives, and 55 false positives
y_pred = [1]*45 + [0] * 400 + [1] * 55

In [43]:
print(confusion_matrix(y_act,y_pred))

[[395  55]
 [  5  45]]

In [44]:
print(classification_report(y_act,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.88      0.93       450
           1       0.45      0.90      0.60        50

    accuracy                           0.88       500
   macro avg       0.72      0.89      0.76       500
weighted avg       0.93      0.88      0.90       500